.main__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 20px);
  background-image: url("/images/main/main_bg.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: calc(100% - 50px);
  height: calc(100vh - 20px - 60px);
  background-color: var(--main-bg);
  border-radius: 6px;
  padding: 30px 25px;
  text-align: center;
}

/* logo img */
.main > img {
  width: 250px;
  height: auto;
  margin-top: 150px;
  margin-bottom: 20px;
}

.primary {
  color: var(--primary);
  font-weight: 600;
}
.success {
  color: var(--point-dark);
  font-weight: 600;
}

.main > p {
  font-size: 1.6rem;
  word-spacing: 1px;
  font-weight: 500;
}

.main > h2 > span {
  font-size: 4rem;
  font-weight: 700;
}


.card_box {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
}

.card {
  background-color: var(--header-bg);
  width: 20%;
  min-width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
}

.card > svg {
  font-size: 4rem;
  color: var(--font-light);
  transition: all .25s linear;
}

.card > p {
  font-size: 2rem;
  font-weight: 600;
  color: var(--font-light);
  margin: 10px 0;
  transition: all .25s linear;
}

.card > button {
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  transition: all .25s linear;
}

.card:hover {
  & > p {
    font-size: 2.1rem;
    color: var(--font-color);
  }

  & > button {
    background-color: var(--point-light);
    cursor: pointer;
    transform: rotate(-5deg);
  }

  .icon__boxs {
    color: var(--warning);
  }

  .icon__cart {
    color: var(--danger);
  }
}

@media (max-width: 780px) {
  /* logo img */
  .main > img {
    width: 180px;
    margin-top: 100px;
  }
  
  .main > p {
    font-size: 1.5rem;
  }
  
  .main > h2 > span {
    font-size: 3.5rem;
  }
    
  .card_box {
    gap: 30px;
  }
  
  .card {
    width: 50%;
    min-width: 100px;
    height: 160px;
  }
  
  .card > svg {
    font-size: 3rem;
  }
  
  .card > p {
    font-size: 1.8rem;
  }
  
  .card > button {
    padding: 6px 15px;
  }
  
  .card:hover {
    & > p {
      font-size: 2rem;
    }
  }
}